.container{
	background-color: white;
	margin: 0 auto;
	width: 500 px;
	padding: 5 px;
	border-radius: 10 px;


}
.myform{
	margin: 0 auto;;
	
	width: 300 px;

}
.form_inputs{
	margin: 0 auto;
	width:100 %;
	padding: 5 px;

}
.btn_add{
	margin: 0 auto;
	width: 50 %;
	padding: 5 px;
	text-align: center;
	background-color: green;
	margin-top: 15 px;
}
.logo{
	width: 100 px;
	text-align: center;
	border-radius: 50 %;

}
body{
	background-color: white;
}